<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block main %}

<h1>Hot News</h1>
{% if message %}
    <p><strong>{{ message }}</strong></p>
{% endif %}
{% if latest_news %}
    <ul class="list-group">
        {% for new in latest_news %}
            <li class="list-group-item">
                <a href="/news/{{ new.id }}/">
                    {{ new.news_text }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No news.</p>
{% endif %}
{% endblock %}
</body>
</html>
